@import "compass/css3";

html,body{
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size:20px;
}

#header{
    height:100px;
    background:linear-gradient(to bottom,#27709b 0,#24688f 100%);
   
    
    #title{
        text-align:center;     
        font-family: "Times New Roman";
        font-size: 80px;
        color:white;
        
    }
}

#userField{
    background:#e3e3e3;
    
}

#tagField{
    
    background:rgba(0,0,0,.15);
    
}

#addUserForm , #addTagForm{
    background:#e3e3e3;
	
    input{
        padding: 15px 15px 14px 56px;
        
        border: none;
        border-top: 1px solid #cdccc2;
        border-left: 1px solid #cdccc2;
        @include border-radius(5px);
        
        font-size:20px;
    }
    
    button{
        border-radius: 13px;
        background-color: #FFCC33;
        border: 2px solid #b5b5b5;
        
        font-size:20px;
        
        cursor: pointer;
    }
    
}

#userList, #tagList{
     
    table{
        margin: 0 0 40px 0;
        width: 100%;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        display: table;
        @media screen and (max-width: 580px){
            display: block;
        }
    }
    
   
    
    table tbody tr{
        display: table-row;
        background: #f6f6f6;
        &:nth-of-type(odd){
            background: #e9e9e9;
        }
        
        @media screen and (max-width: 580px){
            padding: 8px 0;
            display: block;
        }
    }
    
    table thead{
        font-weight: 900;
        color: #ffffff;
        tr{
            background: #27ae60;    
        }
  
    }
    
}
$user_font_size: 32px;
#userProfile{
	background:#e3e3e3;
    font-family:  "Microsoft JhengHei";
    h3{
        font-size:$user_font_size;
        color:#ea6153;
        
    }
    
    .profile_label{
        font-size:24px;
        color:#0000CC;
    }
}
#footer{
	background:linear-gradient(to bottom,#27709b 0,#24688f 100%);
}
