/* line 3, ../sass/layout.scss */
#blueprintGrid {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 5, ../sass/layout.scss */
#blueprintGrid #header, #blueprintGrid #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #blueprintGrid #header, * html #blueprintGrid #footer {
  overflow-x: hidden;
}
/* line 9, ../sass/layout.scss */
#blueprintGrid #userField .leftSide {
  /*@include column(0);*/
}
/* line 12, ../sass/layout.scss */
#blueprintGrid #userField .midSide {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
}
/* line 147, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #blueprintGrid #userField .midSide {
  overflow-x: hidden;
}
/* line 17, ../sass/layout.scss */
#blueprintGrid #userField .rightSide {
  display: inline;
  float: left;
  margin-right: 0;
  width: 390px;
}
/* line 147, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #blueprintGrid #userField .rightSide {
  overflow-x: hidden;
}
/* line 23, ../sass/layout.scss */
#blueprintGrid #tagField .leftSide {
  /*@include column(0);*/
}
/* line 26, ../sass/layout.scss */
#blueprintGrid #tagField .midSide {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
}
/* line 147, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #blueprintGrid #tagField .midSide {
  overflow-x: hidden;
}
/* line 29, ../sass/layout.scss */
#blueprintGrid #tagField .rightSide {
  display: inline;
  float: left;
  margin-right: 0;
  width: 390px;
}
/* line 147, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #blueprintGrid #tagField .rightSide {
  overflow-x: hidden;
}
/* line 34, ../sass/layout.scss */
#blueprintGrid #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #blueprintGrid #footer {
  overflow-x: hidden;
}
